*.log



/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

*.pyc
*.iml
.sass-cache/
*.scssc
node_modules
/log/

# Vagrant
.vagrant

.DS_Store

.lando.local.yml

_backports

*.wpress
.idea/*
*.sql
