// Events
//
// Markup: ../../styleguide/blocks/events.hbs
//
// Styleguide Blocks.Events

.uic {
    --uic-events__grid--collapsed--extra-item-margin: 24px;
    --uic-events__box-container--border-width: 2px;
    --uic-events__box--border-width: 2px;
    --uic-events__box-container--padding: 4px;
}

.uic-events {
    color: $palette-white;
    background-color: $palette-blue700;

    & .uic-section__inner {
        padding-top: 128px;
        padding-bottom: 48px;
    }

    & .uic-h3 {
        text-align: center;
        margin-bottom: 50px;
    }

    &__grid {
        display: grid;
        column-gap: 24px;
        row-gap: 24px;
        grid-template-areas: "prompt0 prompt1 prompt2 prompt3"
                             "box0 box1 box2 box3"
                             "link0 link1 link2 link3";
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    &__grid-item {
        gap: 19.5px;
        min-width: 0;
        display: flex;
        flex-direction: column;
        grid-area: box;
        &--prompt {
            font-size: 1.5rem; // 24px;
            line-height: 1.813rem; // 29px;
            text-align: center;
            align-self: end;
            font-weight: 500;
            grid-area: prompt;
            color: $palette-yellow400;

            &-0 { grid-area: prompt0; }
            &-1 { grid-area: prompt1; }
            &-2 { grid-area: prompt2; }
            &-3 { grid-area: prompt3; }
        }
        &--box {
            &-0 { grid-area: box0; }
            &-1 { grid-area: box1; }
            &-2 { grid-area: box2; }
            &-3 { grid-area: box3; }
        }

        &--link {
            &-0 { grid-area: link0; }
            &-1 { grid-area: link1; }
            &-2 { grid-area: link2; }
            &-3 { grid-area: link3; }
            display: flex;
            align-items:  center;
            justify-content: center;
            & a {
                color: $palette-yellow400;
                font-size: 1.0625rem; // 17px;
                line-height: 1.5rem; // 24px;
                font-weight: 500;
                text-decoration: underline;
                text-decoration-thickness: 2px;
                text-transform: uppercase;
                text-underline-offset: 5px;
                text-align: center;
                transition: text-underline-offset 400ms ease-in-out, text-decoration-color 400ms ease;
                &:hover {
                    text-underline-offset: 8px;
                    text-decoration-color: $palette-white;
                }
            }
        }
    }

    &__event {
        padding: 12px 6px;
        display: flex;
        font-weight: 500;
        flex-direction: column;

        &__location {
            text-align: center;
            font-size: 1.0625rem; // 17px;
            line-height: 1.5rem; // 24px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        &__kind {
            text-align: center;
            font-size: 1.188rem; // 19px;
            line-height: 1.5rem; // 24px;
            letter-spacing: 1px;
            padding-top: 5px;
        }

        &__details {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        &__name {
            font-size: 1.5rem; // 23px;
            line-height: 1.686rem; // 26.973px;
            text-align: center;
        }
        &__datetime {
            text-align: center;
            font-size: 1.188rem; // 19px;
            line-height: 1.5rem; // 24px;
        }

        &__cta {
            display: flex;
            flex-direction: row;
            text-transform: uppercase;
            justify-content: center;
        }
        &__register {
            color: $palette-yellow400;
            text-align: center;
            text-decoration: none;
            display: inline-flex;
            gap: 4px;
            text-decoration: none;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            transition: color 333ms ease;
            &:hover {
                color: #fff;
            }
            &:hover .uic-events__event__register__arrow {
                transform: translateX(4px);
            }

            &__text {
                font-size: 1.0625rem; // 17px;
                line-height: 1.25rem; // 20px;
                text-transform: uppercase;
            }
            &__arrow {
                height: 13.68px;
                width: 14.05px;
                transition: transform 333ms ease;
            }
        }
    }


    &__box {
        aspect-ratio: 1 / 1;
        box-sizing: border-box;
        border: var(--uic-events__box--border-width) solid #fff;
        // width: calc(100% - (2 * (var(--uic-events__box--border-width) + var(--uic-events__box--padding))));
        position: relative;
    }

    &__box-container {
        padding: 4px;
        display:  block;
        max-width: 100%;
        flex-direction: column;
        box-sizing: border-box;
        border: var(--uic-events__box-container--border-width) solid #fff;
        width: 100%; // calc(100% - (2 * (var(--uic-events__box-container--border-width) + var(--uic-events__box-container--padding))));
    }

    &__panel {
        &__container {
            position: relative;
            height: 100%;
        }

        &__controls {
            position: absolute;
            z-index: 10;
            width: 100%;
        }

        &__track {
            overflow: hidden;
            height: 100%;
        }

        &__items {
            transition: transform 600ms ease-in-out;
            width: 100%;
            transform: translate3d(0px, 0px, 0px);
            display: flex;
            flex-direction: row;
            height: 100%;
        }

        &__item {
            display: flex;
            flex-shrink: 0;
            width: 100%;
            flex-direction: column;
        }

        &__next, &__prev {
            &.arrow_hidden {
                display: none;
            }
        }

        &__next {
            position: absolute;
            display: block;
            font-size: 0;
            padding: 2px;
            background-color: rgba(0, 0, 0, 0);
            cursor: pointer;
            border-radius: 4px;
            border: 0;
            transition: transform 333ms ease-out;
            top: 6px;
            right: 16px;
            justify-self: center;
            height: 18px;
            width: 18px;
            font-weight: 500;

            &:before {
                content: "";
                position: absolute;
                left: 5px;
                //top: 5px;
                width: 10px;
                height: 1px;
                background-color: #000;
                -webkit-transform: rotateZ(45deg);
                transform: rotateZ(45deg);
                top: calc(50% - 4px);
            }

            &:after {
                content: "";
                position: absolute;
                left: 5px;
                //bottom: 5px;
                width: 10px;
                height: 1px;
                background-color: #000;
                -webkit-transform: rotateZ(-45deg);
                transform: rotateZ(-45deg);
                bottom: calc(50% - 4px);
            }

            &:before, &:after {
                left: 45%;
                transition: background-color 333ms ease;
                background-color: #ffbf3f;
                height: 2px;
                display: block;
            }

            &:hover {
                transform: translateX(4px);
            }

            &:hover::before, &:hover::after {
                background-color: $palette-white;
            }
        }

        &__prev {
            position: absolute;
            display: block;
            font-size: 0;
            padding: 2px;
            background-color: rgba(0, 0, 0, 0);
            cursor: pointer;
            border-radius: 4px;
            border: 0;
            transition: transform 333ms ease-out;
            top: 6px;
            left: 16px;
            justify-self: center;
            height: 18px;
            width: 18px;
            font-weight: 500;

            &:before {
                content: "";
                position: absolute;
                right: 5px;
                width: 10px;
                height: 1px;
                background-color: #000;
                -webkit-transform: rotateZ(-45deg);
                transform: rotateZ(-45deg);
                top: calc(50% - 4px);
            }

            &:after {
                content: "";
                position: absolute;
                right: 5px;
                width: 10px;
                height: 1px;
                background-color: #000;
                -webkit-transform: rotateZ(45deg);
                transform: rotateZ(45deg);
                bottom: calc(50% - 4px);
            }

            &:before, &:after {
                right: 45%;
                transition: background-color 333ms ease;
                background-color: #ffbf3f;
                height: 2px;
                display: block;
            }

            &:hover {
                transform: translateX(-4px);
            }

            &:hover::before, &:hover::after {
                background-color: $palette-white;
            }
        }

        &__item {
            &.event-hidden {
                display: none;
            }
        }
    }
}



@media screen and (max-width: 1279px) {
    .uic-events {
        &__grid {
            grid-template-areas: "prompt0 prompt1"
                                 "box0 box1"
                                 "link0 link1"
                                 "prompt2 prompt3"
                                 "box2 box3"
                                 "link2 link3";
            grid-template-columns: repeat(2, minmax(0, 1fr));

            &-item--prompt:nth-of-type(3),
            &-item--prompt:nth-of-type(4) {
                margin-top: var(--uic-events__grid--collapsed--extra-item-margin);
            }
        }

    }
}

@media screen and (max-width: 767px) {
    .uic-events {
        &__grid {
            grid-template-areas: "prompt0"
                                 "box0"
                                 "link0"
                                 "prompt1"
                                 "box1"
                                 "link1"
                                 "prompt2"
                                 "box2"
                                 "link2"
                                 "prompt3"
                                 "box3"
                                 "link3";
            grid-template-columns: repeat(1, minmax(0, 1fr));
            &-item--prompt:nth-of-type(2),
            &-item--prompt:nth-of-type(3),
            &-item--prompt:nth-of-type(4) {
                margin-top: var(--uic-events__grid--collapsed--extra-item-margin);
            }
        }
    }
}

