// Video Hero
//
// Markup: ../../styleguide/blocks/video-hero.hbs
//
// Styleguide Blocks.Video Hero

@keyframes uic-video-hero--playing {
    0% {
        opacity: 0;
        display: none;
    }
    99% {
        display: none;
    }
    100% {
        display: block;
    }
}

.uic-video-hero {
    --uic-video-hero--transition-duration: 1500ms;
    --uic-video-hero--video-height: 1080; // we won't know the video dimensions for sure until the video loads but we'll
    --uic-video-hero--video-width: 1920;  // assume its 16:9 because that's pretty common. JS will adjust if different
    --uic-video-hero--aspect-ratio: calc(var(--uic-video-hero--video-width) / var(--uic-video-hero--video-height));
    width: 100%; 
    overflow: hidden;
    height: calc(100vw / var(--uic-video-hero--aspect-ratio));
    min-height: 300px;
    position: relative;
    background: $palette-black;
    transition: min-height 1500ms ease;

    &--playing {
        min-height: 0px;
    }

    &--height-adjusting {
        transition: height 1500ms ease, min-height 1500ms ease;
    }

    &__header {
        height: 126px;
    }
 
    &__subheader {
        text-align: center;
        color: $palette-white;
        text-shadow: 0 0 64px rgba(0, 0, 0, 0.15),
                     0 0 8px rgba(0, 0, 0, 0.33),
                     0 0 2px rgba(0, 0, 0, 0.66);
        line-height: 120%;
        font-weight: 500;
        font-size: 2.125rem; // 34px;
        max-width: 624px;
    }

    &__control {
        height: 100%;
        width: 64px;
        height: 64px;
        appearance: none;
        flex: 0 0 auto;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        color: transparent;
        
        &--play { background-image: url('../images/video-play-icon.svg'); }
        &--pause { background-image: url('../images/video-pause-icon.svg'); }
        &--loading { background-image: url('../images/video-loading-icon.svg'); }

        transition: opacity 5000ms ease-out, transform 500ms ease-out;
        opacity: 1;
        &:hover {
            opacity: 0.8;
            transform: scale(1.1);
        }
    }

    & .uic-section,
    & .uic-section__container,
    & .uic-section__inner {
        height: 100%;
    }


    & .uic-video-hero__content__inner {
        transition: transform 2000ms ease;
        transition-delay: 300ms;
    } 

    &__content,
    &__thumbnail,
    &__thumbnail,
    &__video {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    &__content, 
    &__thumbnail {
        transition: opacity var(--uic-video-hero--transition-duration) ease, visibility var(--uic-video-hero--transition-duration);
        opacity: 1;
        display: block;
        visibility: visible;
        .uic-video-hero--playing & {
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
        }
    }

    &__content {
        z-index: 12;
        background-color: scale-color($color: $palette-blue700, $alpha: -50%);
        backdrop-filter: blur(4px);
        &__inner {
            transition: transform 2000ms ease;
            transition-delay: 300ms;
            display: flex;
            height: 100%;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            justify-content: center;

            .uic-video-hero--playing & {
                transform: scale(1.1) translateY(-32px);
            }
        }
    }
    &__thumbnail {
        z-index: 11;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    &__video {
        z-index: 10;
        // this only applies to youtube:
        // depending on width, pixel density, etc, the video was sometimes showing a 1px white line
        // under the player this is because iframe embeds don't play well with partial pixels and we
        // have a height based on width*aspect ratio so height will almost never be a whole number. 
        // scale()ing the iframe to 1.001 with overflow hidden on parent will ensure video fills parent.
        // may result in 1 or 2 px clipped from the right/bottom edge. If we want more control, we will
        // have to embed the video in a HTML <video> aka ditch youtube
        // transform: scale(1.001);

        & > iframe { 
            width: 100%;
            height: 100%;
        }
    }
}

.uic .bp-wrap > div:first-child {
    background: rgba(0,30,98,0.75);
}

@media screen and (max-width: 767px) {
    .uic-video-hero {
        &__header {
            margin-top: 8px;
            height: unset;
            width: 75%;
        }

        &__subheader {
            font-size: 1.25rem; // 20px;
            line-height: 120%;
        }

        &__control {
            height: 48px;
            width: 48px;
        }
    }
}